.accordion {
    padding: 0 58px;
    &__item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: hidden;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        font-size: 20px;
        color: var(--white);
        cursor: pointer;
        span {
            position: relative;
            width: 23px;
            height: 23px;
            cursor: pointer;
            margin-right: 4px;
            transform-origin: center;
            margin-left: 20px;
        }
        span:after,
        span:before {
            content: '';
            background: var(--white);
            position: absolute;
            transition: all .6s;
        }
        span:after {
            width: 2px;
            height: 23px;
            top: 0;
            left: 0;
        }
        span:before {
            height: 2px;
            width: 23px;
            top: 10px;
            left: -10px;
        }
    }
    &__item.active .accordion__title {
        span:after,
        span:before {
            transform: rotate(-45deg);
        }
    }
    &__item.active .accordion__answer{
        max-height: max-content;
        opacity: 1;
        margin-bottom: 20px;
    }
    &__answer {
        max-width: 680px;
        font-weight: 300;
        font-size: 14px;
        line-height: 140%;
        color: var(--white);
        max-height: 0;
        opacity: 0; 
        transition: all .6s;
    }
    &__list-items {
        list-style: circle;
        font-weight: 300;
        font-size: 14px;
        line-height: 140%;
        color: var(--white);
        margin-bottom: 4px;
    }
}

@media (max-width: 1200px) {
    
}

@media (max-width: 992px) {
    .accordion {
        &__title {
            font-size: 18px;
            span {
                width: 20px;
                height: 20px;
            }
            span:after {
                height: 20px;
            }
            span:before {
                width: 20px;
                top: 9px;
                left: -9px;
            }
        }
        &__answer {
            max-width: 80%;
        }
    }
}

@media (max-width: 768px) {
    .accordion {
        padding: 0 28px;
        &__title {
            font-size: 18px;
            span {
                width: 14px;
                height: 14px;
            }
            span:after {
                height: 14px;
            }
            span:before {
                width: 14px;
                top: 6px;
                left: -6px;
            }
        }
        &__answer {
            max-width: 90%;
        }
    }
}

@media (max-width: 576px) {
    .accordion {
        padding: 0 10px;
        &__title {
            font-size: 16px;
        }
        &__answer {
            max-width: 100%;
            margin-right: 36px;
        }
    }
    
}