.header {
    height: 1440px;
    padding-top: 16px;
    position: relative;
    text-align: center;
    background: url('../../img/header-bg.jpg') bottom center / cover no-repeat;
    overflow: hidden;
    &__title,
    &__title span {
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 60px;
        text-transform: uppercase;
        color: var(--back);
        text-align: center;
    }
    &__title {
        margin-bottom: 60px;
        span {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 96px;
                height: 90px;
                background: url('../icons/lighthing.svg');
                top: 8px;
                left: 105%;
            }
        }
    }
    &__txt {
        font-weight: 300;
        font-size: 20px;
        text-align: center;
        color: var(--back);
        margin-bottom: 30px;
    }
}

@media (max-width: 1700px) {
    .header {
        height: 1240px;
    }    
}
@media (max-width: 1440px) {
    .header {
        height: 1140px;
    }    
}
@media (max-width: 1300px) {
    .header {
        height: 1065px;
    }    
}
@media (max-width: 1200px) {
    .header {
        height: 1130px;
    }    
}

@media (max-width: 992px) {
    .header {
        height: 1040px;
        &__title,
        &__title span {
            font-size: 40px;
        }
        &__title {
            span {
                &::after {
                    width: 86px;
                    height: 80px;
                    background: url('../icons/lighthing.svg') center center / contain no-repeat;
                    top: 10px;
                    left: 102%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        height: 780px;
        &__title,
        &__title span {
            font-size: 36px;
        }
        &__title {
            margin-bottom: 36px;
            span::after {
                width: 76px;
                height: 70px;
                top: 8px;
                left: 105%;
            }
        }
        &__txt {
            font-size: 18px;
        }
        &__btn {
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    
}

@media (max-width: 576px) {
    .header {
        height: 760px;
        background: url('../../img/header-bg-mob.png') bottom center / cover no-repeat;
        padding-top: 22px;
        &__title,
        &__title span {
            font-size: 25px;
            line-height: 140%;
        }
        &__title {
            margin-bottom: 24px;
            span::after {
                width: 42px;
                height: 40px;
                top: 16px;
                left: 102%;
            }
        }
        &__txt {
            font-size: 16px;
            line-height: 120%;
            margin-bottom: 0;
        }
        &__btn {
            bottom: 10%;
        }
    }
}
@media (max-width: 425px) {
    .header {
        height: 680px;
    }
}